[submodule "workspace/3rdparty/json"]
	path = workspace/3rdparty/json
	url = https://github.com/nlohmann/json

[submodule "workspace/3rdparty/libpqxx"]
	path = workspace/3rdparty/libpqxx
	url = https://github.com/jtv/libpqxx
